{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- задаем заголовок страницы -->
{% block title %}This is an page{% endblock %}
<!-- блок body -->
{% block content %}
{{ wtf.quick_form(form, method='post',enctype="multipart/form-data", action="net") }}
<!-- один из стандартных тэгов html - заголовок второго уровня -->
<h2>Table: </h2> 
<!-- проверяем есть ли данные классификации -->
<table border="1" bordercolor="#aaa" cellspacing="0" cellpadding="0">
<tr>
    <td><img style="display:block;" width="100%" height="100%" src="/static/img1.jpg" /></td>
    <td><img style="display:block;" width="100%" height="100%" src="/static/img1.png" /></td>
    <td><img style="display:block;" width="100%" height="100%" src="/static/img2.png" /></td>
    <td><img style="display:block;" width="100%" height="100%" src="/static/newgr.png" /></td>
    <td><img style="display:block;" width="100%" height="100%" src="/static/newgrv.png" /></td>
    <td><img style="display:block;" width="100%" height="100%" src="/static/newgr1.png" /></td>
    <td><img style="display:block;" width="100%" height="100%" src="/static/newgrv1.png" /></td>
    <td><img style="display:block;" width="100%" height="100%" src="/static/newgr2.png" /></td>
    <td><img style="display:block;" width="100%" height="100%" src="/static/newgrv2.png" /></td>
</tr>
<tr>
    <td><Изначальное изображение></td>
    <td><Изображение с измененной яркостью></td>
    <td><Изображение с измененной контрастностью></td>
    <td><График распределения цветов исходного изображения по горизонтали></td>
    <td><График распределения цветов исходного изображения по вертикали></td>
    <td><График распределения цветов изображения с измененной яркостью по горизонтали></td>
    <td><График распределения цветов изображения с измененной яркостью по вертикали></td>
    <td><График распределения цветов изображения с измененным контрастом по горизонтали></td>
    <td><График распределения цветов изображения с измененным контрастом по вертикали></td>
</tr>
</table>
{% endblock %}
